-
  var headerMenu =[
    {name: 'Главная', link: '/'},
    {name: 'Каталог', link: '/'},
    {name: 'О нас', link: 'about.html'}]

header.header
  .inner
    .header-logo
      a(href="/")
        +icon('icon_logo')
    ul.header-menu
      each item in headerMenu
        li.header-menu-item
          a(href=item.link)=item.name
    .header-mb
