header.header
  .inner
    .header-logo
      a(href="/")
        +icon('icon_logo')
    ul.header-menu
      li.header-menu-item
        a(href="/") Главная
      li.header-menu-item
        a(href="#") Каталог
      li.header-menu-item
        a(href="/about.html") О нас
    .header-mb
