@import 'layouts/header';
@import 'layouts/global';
@import 'layouts/footer';

body {
  .ui {
    &-checkbox {
      label {
        position: relative;
        padding-left: 30px;
        font: 16px/1.5 $font;
        cursor: pointer;
        user-select: none;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border: 1px solid #ccc;
          border-radius: 3px;
          transition: 0.3s ease;
        }
        &::after {
          content: '';
          position: absolute;
          left: 5px;
          top: 5px;
          width: 10px;
          height: 10px;
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.5L4.5 7L9 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          opacity: 0;
          transition: 0.3s ease;
        }
      }
      input[type='checkbox'] {
        display: none;
        &:checked + label {
          &::before {
            background: #ccc;
            border-color: #ccc;
          }
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  .wrapper {
    .inner {
      max-width: 1400px;
      div {
        p {
          font: 300 18px/1.5 $font;
        }
      }
    }
    main {
      .breadcrumbs {
        margin-bottom: 20px;
        @include media-tablet-horizontal {
          overflow-y: auto;
        }
        &-block {
          display: flex;
          align-items: center;
          &-item {
            position: relative;
            margin-right: 5px;
            padding-right: 10px;
            font-size: 14px;
            white-space: nowrap;
            &::after {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 6px;
              height: 1px;
              background: #aaa;
            }
            @include media-tablet {
              font-size: 12px;
            }
            &-link {
              color: #575757;
              &:hover {
                color: red;
              }
            }
            span {
              color: #aaa;
            }
            &:last-child {
              margin-right: 0;
              padding-right: 0;
              &::after {
                display: none;
              }
            }
          }
        }
      }
      .container {
        display: flex;
        justify-content: space-around;
      }
      .page_title {
        margin-bottom: 30px;
        h1 {
          margin-bottom: inherit;
          font: 32px/1.1 $font;
        }
      }
      .section_title {
        margin-bottom: 20px;
        h2 {
          margin-bottom: inherit;
          font: 24px/1.1 $font;
        }
      }
      section {
        margin-top: 40px;
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }
}
