@import '../../node_modules/swiper/css/swiper.css';
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css';
@import '../../node_modules/normalize.css/normalize';
@import '../mixins/media';
@import '../utils/fonts';
@import '../utils/variables';


*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}
html {
  box-sizing: border-box;
  line-height: 1;
}
body {
  margin: 0;
  .wrapper {
    position: relative;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: $font;
    color: $black;
    .inner {
      margin: 0 auto;
    }
  }
}
img {
  display: block;
  max-width: 100%;
}
svg {
  max-width: 100%;
}
a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: $black;
  transition: ease 0.3s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span,
ul,
ol,
li,
tr,
td,
th,
table,
blockquote {
  margin: 0;
  padding: 0;
}
