extends layouts/layout

block variables
  -var pageTitle ='Главная'

block content
  main
    .inner
      +breadcrumbs('Главная')
      +pageTitle('Главная')
      section.info
        +sectionTitle('Info')
      section.slider
        +sectionTitle('Slider')
        .swiper-container
          .swiper-wrapper
            .swiper-slide Slide 1
            .swiper-slide Slide 2
            .swiper-slide Slide 3
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next

      +icon('icon_ok')
      +icon('icon_vk')
