extends layouts/layout

block variables
  -var pageTitle ='Главная'

block content
  main
    .inner
      +breadcrumbs('Главная')
      +pageTitle('Главная')
      section.info
        +sectionTitle('Info')
      section.slider
        +sectionTitle('Slider')
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +icon('icon_vk')
            .swiper-slide
              +icon('icon_ok')
            .swiper-slide
              +icon('icon_snow')
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      section.uis
        +sectionTitle('UI Section')
        .container
          .container-item
            h3 Select
            +ui-select('Option 1', 'Option 2', 'Option 3', 'Option 4')
          .container-item
            h3 Checkbox
            +ui-checkbox('id', 'I love semolina')
      section.gallery
        +sectionTitle('Gallery')
        .container
          .container-item
            a(href="/img/swim1.jpg" data-fancybox="gallery")
              img(src="/img/swim1.jpg", alt="")
          .container-item
            a(href="/img/swim2.jpg" data-fancybox="gallery")
              img(src="/img/swim2.jpg", alt="")
          .container-item
            a(href="/img/swim3.jpg" data-fancybox="gallery")
              img(src="/img/swim3.jpg", alt="")
          .container-item
            a(href="/img/swim4.jpg" data-fancybox="gallery")
              img(src="/img/swim4.jpg", alt="")
