extends layouts/layout

block variables
  -var pageTitle ='Главная'

block content
  main
    .inner
      .top_banner
        .top-banner-content
        .top-banner-image
      section.services
        h2 Title
        .services-block
      p paragraph
      .swiper-container
        .swiper-wrapper
          .swiper-slide Slide 1
          .swiper-slide Slide 2
          .swiper-slide Slide 3
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next

      +icon('icon_ok')
      +icon('icon_vk')
