@import '/node_modules/normalize.css/normalize.css';
@import '/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css';
@import '/node_modules/select2/dist/css/select2.min.css';
@import '/node_modules/swiper/swiper-bundle.min.css';
@import '/node_modules/tooltipster/dist/css/tooltipster.main.min.css';
@import '/node_modules/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css';
@import '../mixins/media';
@import '../mixins/mixins';
@import '../utils/fonts';
@import '../utils/variables';

*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}
html {
  box-sizing: border-box;
  line-height: 1;
}
body {
  margin: 0;
  .wrapper {
    position: relative;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: $font;
    color: $black;
    .inner {
      max-width: 1340px;
      margin: 0 auto;
      @include media-laptop {
        max-width: 980px;
      }
      @include media-tablet-horizontal {
        max-width: 760px;
      }
      @include media-tablet {
        max-width: 100%;
        padding: 0 10px;
      }
    }
  }
}
img {
  display: block;
  max-width: 100%;
}
svg {
  max-width: 100%;
  height: 100%;
}
a {
  display: block;
  text-decoration: none;
  color: $black;
  transition: ease 0.3s;
  &:hover {
    color: teal;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span,
ul,
ol,
li,
tr,
td,
th,
table,
blockquote {
  margin: 0;
  padding: 0;
}


// BLOCKS

@import './header';
@import './footer';

// PAGES

@import '../main';
