@import '/node_modules/normalize.css/normalize.css';
@import '/node_modules//js-datepicker/dist/datepicker.min.css';
@import '/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css';
@import '/node_modules/nouislider/distribute/nouislider.min.css';
@import '/node_modules/select2/dist/css/select2.min.css';
@import '/node_modules/swiper/swiper-bundle.min.css';
@import '/node_modules/tooltipster/dist/css/tooltipster.main.min.css';
@import '/node_modules/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css';
@import '../utils/variables';
@import '../utils/fonts';
@import '../mixins/media';
@import '../mixins/mixins';

*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}
html {
  box-sizing: border-box;
  line-height: 1;
}
body {
  margin: 0;
  .wrapper {
    position: relative;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: $font;
    color: $black;
    .inner {
      max-width: 1340px;
      margin: 0 auto;
      @include media-laptop {
        max-width: 980px;
      }
      @include media-tablet-horizontal {
        max-width: 760px;
      }
      @include media-tablet {
        max-width: 100%;
        padding: 0 10px;
      }
      section {
        margin-top: 50px;
      }
    }
    main {
      .breadcrumbs {
        margin-bottom: 20px;
        @include media-tablet-horizontal {
          overflow-y: auto;
        }
        &-block {
          display: flex;
          align-items: center;
          &-item {
            position: relative;
            margin-right: 5px;
            padding-right: 10px;
            font-size: 14px;
            white-space: nowrap;
            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              width: 6px;
              height: 1px;
              background: #aaa;
            }
            @include media-tablet {
              font-size: 12px;
            }
            &-link {
              color: #575757;
              &:hover {
                color: red;
              }
            }
            span {
              color: #aaa;
            }
            &:last-child {
              margin-right: 0;
              padding-right: 0;
              &::after {
                display: none;
              }
            }
          }
        }
      }
      .page_title {
        margin-bottom: 30px;
        font: 36px/1.1 $font;
        @include media-laptop {
          font-size: 28px;
        }
        @include media-tablet {
          font-size: 20px;
        }
        h1 {
          margin-bottom: inherit;
          font: inherit;
        }
      }
      .section_title {
        margin-bottom: 20px;
        font: 28px/1.1 $font;
        @include media-laptop {
          font-size: 24px;
        }
        @include media-tablet {
          font-size: 18px;
        }
        h2 {
          margin-bottom: inherit;
          font: inherit;
        }
      }
    }
  }
}
img {
  display: block;
  max-width: 100%;
}
svg {
  max-width: 100%;
  height: 100%;
}
a {
  display: block;
  text-decoration: none;
  color: $black;
  transition: ease 0.3s;
  &:hover {
    color: teal;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span,
ul,
ol,
li,
tr,
td,
th,
table,
blockquote {
  margin: 0;
  padding: 0;
}

// BLOCKS

@import 'header';
@import 'footer';
@import '../includes/*';

// PAGES

@import '../*';
