.ui {
  &-button {
    display: inline-block;
    a,
    input {
      width: 100%;
      padding: 15px 50px;
      text-align: center;
      text-transform: uppercase;
      color: $black;
      background: #fff;
      border: 1px solid teal;
      border-radius: 6px;
      transition: 0.3s ease;
      cursor: pointer;
      @include media-laptop {
        padding: 20.5px 50px;
        font-size: 14px;
      }
      @include media-laptop {
        padding: 14.5px 30px;
        font-size: 13px;
      }
      &:hover {
        color: teal;
      }
    }
    &.filled {
      a,
      input {
        color: #fff;
        background: teal;
        &:hover {
          color: #fff;
          background: #6ca44c;
        }
      }
    }
  }
  &-checkbox {
    label {
      position: relative;
      padding-left: 30px;
      font: 16px/1.5 $font;
      cursor: pointer;
      user-select: none;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        transition: 0.3s ease;
      }
      &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.5L4.5 7L9 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
        transition: 0.3s ease;
      }
      a {
        display: inline;
        text-decoration: underline;
        color: teal;
      }
    }
    input[type='checkbox'] {
      display: none;
      &:checked + label {
        &::before {
          background: teal;
          border-color: teal;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &-input {
    position: relative;
    input {
      width: 100%;
      padding: 16px 20px 13px;
      font: 16px/1.5 $font;
      background: #fff;
      border: 1px solid teal;
      border-radius: 6px;
      outline: none;
      &.filled ~ label,
      &:focus ~ label {
        top: 2px;
        transform: translateY(0%);
        font-size: 10px;
      }
      &.parsley-error ~ label {
        color: red;
      }
    }
    .parsley-errors-list {
      position: absolute;
      bottom: -30px;
      left: 0;
      font: 300 14px/1 $font;
      color: red;
      background: #fff;
      border-radius: 4px;
      &.filled {
        padding: 5px 10px;
      }
    }
    label {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      font: 16px/1.5 $font;
      color: #b2b2b2;
      transition: 0.3s ease;
      pointer-events: none;
    }
  }
  &-textarea {
    position: relative;
    textarea {
      width: 100%;
      padding: 16px 20px 13px;
      font: 16px/1.5 $font;
      background: #fff;
      border: 1px solid transparent;
      border-radius: 6px;
      outline: 0;
      resize: none;
      &.parsley-error {
        border-color: red;
      }
    }
    .parsley-errors-list {
      position: absolute;
      bottom: -30px;
      left: 0;
      font: 300 14px/1 $font;
      color: red;
      background: #fff;
      border-radius: 4px;
      &.filled {
        padding: 5px 10px;
      }
    }
  }
}
